/Clases/conceptosBasicos/nbproject/private/
/Clases/conceptosBasicos/build/
diagramaBD.img
/Tareas/JavaApplication3/nbproject/private/
/Tareas/tareaLibro/nbproject/private/
/Tareas/tareaLibro/build/
/Clases/ReutilizacionCodigo2209/nbproject/private/
/Clases/ReutilizacionCodigo2209/build/
/Clases/ReutilizacionCodigo2209/dist/
/Tareas/tareaComposicion/nbproject/private/
/Tareas/Libro/nbproject/private/
/Tareas/tareaComposicion/build/
/Tareas/tareaComposicion/dist/
/Tareas/tareaCuentahabiente/nbproject/private/
/Tareas/tareaCuentahabiente/build/
/Tareas/tareaCuentahabiente/dist/
